/* /////////////////////////// PAGE /////////////////////////////// */
body{
  background-color: #262626;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#vidOverlay{
  background-color: #262626;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  /* opacity: 60%; */
  /* color: antiquewhite; */
}
#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
}

audio{
  /* opacity: 0%; */
}

/* /////////////////////////// OVERLAYS /////////////////////////////// */

/* #overlay{
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #3BBCD9;
} */
.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: visible;
  opacity: 1;
}


/* /////////////////////////// CONTENT /////////////////////////////// */

#titleContainer{
  padding-top: 200px;
  align-items: center;
  padding: 150px;
}
#title1{
  font-size: 100%;
  text-align: right;
  color: aliceblue;
  padding-top: 50px;
  /* padding-right: 200px;
  padding-left: 100px; */
}
.scrollWords{
  /* font-size: 100px;
  padding-top: 100px;
  opacity: 50%;
  color: aliceblue; */
}

.sec1{
  text-align: left;
  font-size: 60px;
  padding-right: 100px;
  padding-left: 100px;
  /* color: whitesmoke; */
  /* background-color: aqua; */

}
/*/// Section Backgrounds ///*/
.secBg{
  background-color: #262626;
  /* text-align: center; */
  width: 1300px;
}

/*/// section - NO BG ///*/
.o-image_wrapper-full{
  text-align: center;
  font-size: 60px;
  padding-top: 250px;
  color: white;
  padding-right: 200px;
  padding-left: 200px;
}
.o-image{
  background-color:none;
}

.sec3{
  text-align: left;
  font-size: 40px;
  padding-right: 100px;
  padding-left: 100px;
  /* margin: 10px; */
}

.imageHover{

}
#pop{
  background-color: blue;
  height: 100px;
  width: 100px;
}



.image-container {
  opacity: 0;
  transform: translateY(20vh);
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, transform;
}

.image-visible {
  opacity: 1;
  transform: translateY(0);
}







#js-scroll{
  /* text-align: left; */
  /* background-color: #262626; */
}

.poppies{
  height: 60px;
}
.o-image{
  /* background-color: #262626; */
}
.data-scroll-section{
  /* background-color: #262626; */
}

section{
  background-color: #262626;
}



/*///////////////////// CSS Animtions Libraries ///////////////////////*/
.ml12 {
  /* font-weight: 200; */
  /* font-size: 1.8em; */
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
  
.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
