* {
    box-sizing: border-box;
}

body {
    background-color: #FFD4C6;
    color: #A64444;
    transition: all 2s;
    font-family: 'Mouse Memoirs', sans-serif;
}

body.switch {
    background-color: #303030;
    color: #D92B04;
    font-family:'Creepster', cursive;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: coral;
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
    border: 10px #73E691 outset;

    /* background-image: url(images/1x/Artboard\ 2.png); */
}

/* .hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}
 */

#face{
    background-image: url(images/1x/Artboard\ 2.png);
}
#face.switch{
    background-image: url(images/1x/Artboard\ 2\ copy.png);
}

#banner.switch {
    background-color: #0A995C;
    color: rgb(235, 235, 235);
    transition: all 2s;
    border: 10px #145959 outset;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 5px #73E691 outset;
    /* border: 1px rgb(235, 235, 235) dashed; */
    margin: 0 .25em;
    padding: 1em;
}
main section.switch {
    border: 5px #145959 outset;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #E65C26;;
}

section a:hover {
    background-color: #FFE701;
    color: #333;
}

section.switch a {
    color: white;
}

section.switch a:hover {
    background-color: #F2B705;
    color: #333;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: #145959;
    border-color: #333;
    color: #fefefe;
}

button.switch:hover {
    background-color: #D92B04;
    color: rgb(235, 235, 235)
}